<div class="bg-dark">
  <div class="container d-flex justify-content-between py-2">
    <h1 class="m-0 text-warning">Book</h1>
    <a *ngIf="showSignUp" class="btn btn-secondary" routerLink="/sign-up">Sign Up</a>
    <a *ngIf="showLogin" class="btn btn-secondary" routerLink="/login">Login</a>
    <div *ngIf="showLogOut" class="d-flex align-items-center">
      <button class="btn btn-warning me-3" *ngIf="showSubmiteReview" (click)="submitReview()">Submit Review</button>
      <button class="btn btn-warning me-3" *ngIf="showHome" (click)="goToHome()">Home</button>
      <button class="btn btn-secondary" (click)="logOut()">Log Out</button>
    </div>
  </div>
</div>
